<div class="body">
    <form class="form-inline  searchForm fieldset" #formSearch="ngForm">
            <div>
                <label class="mail">Email address </label>
                <input type="mail" class="form-control mr-sm-2" name="word" ngModel required placeholder="Enter email"
                    aria-label="Search">
            </div>
            <div>
                <label>password</label>
                <input type="password" class="form-control mr-sm-2" name="password" ngModel required placeholder="password">
            </div>
            <div class="check"><input type="checkbox">check me out</div>
            <div class="lesButtons">
                <button class="btn btn-outline-light" type="submit">Se Connecter</button>
                <!-- <button class="btn btn-outline-danger" type="submit">S'inscrire</button> -->
            </div>
    </form>
</div>