    .glyph-icon {
      height: 0.75rem;
      display: inline-block;
      margin: 0.25rem;
    }
    .principal {
       height: 8rem;
       margin: 0 4.5rem;
       border-radius: 0.25rem;
       padding: 1rem;
     }
     
     .content {
       margin-top: 1rem;
     }
     
     .music .card, .music .pagination {
       margin-top: 0.5rem;
     }
     .music .btn {
       display: inline-block;
       margin: .5rem 0.6rem;
     }
 li, a, button{
  transition: 1s;
  text-decoration: none;
}
a.btn-primary{
  background-color: #20a0bb;
  border-color:#20a0bb;
}
a.btn-primary:hover{
  background-color: #137082;
  border-color:#137082;
}


