<app-search class="float"></app-search>
<div class="container-fuild principal" [@animation]>
  <h1> {{ titlePage }} </h1>
  <div  class="lesGenres">
    <div class="genre" *ngFor="let gen of genre" (click)="onClick(gen)"><img src="{{gen.url}}" alt=""><div class="text">{{gen.ref}}</div></div>
  </div>
  <div class="row content">
    <div class="col-sm-4 video" *ngIf="state">
      <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)" (hide)="hideDetails($event)" class="sticky"> </app-album-details>
    </div>
    <div class="col-sm-8 music">
  <app-paginate (setPaginate)="onSetPaginate($event)"></app-paginate>
      <ng-container *ngIf="albums.length; else notfound">
          <div class="card" *ngFor="let album of albums; let i = index">
          <div class="card-header"  id="{{album.id}}">
            {{ i + 1 }} {{album.ref}}
            <a role="button" class="view btn btn-outline-dark" (click)="onSelect(album)"
            *ngIf="album.status === 'on'">Play</a>
          </div>
          <div class="card-body">
            <a class="card-title" routerLink="/album/{{album.id}}"> {{album.title}} </a>
            <p class="card-text">{{album.description}}</p>
            <a href="#" *ngFor="let tag of album.tags" class="btn btn-primary"> {{tag}} </a> <br>
            <a href="#" role="button" class="btn btn-outline-primary">fr</a>
            <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
            <small>{{album.like}}</small>
            <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
            <small>{{album.duration}} min</small>
            <a role="button" class="view btn btn-outline-dark" (click)="onSelect(album)"> View More</a>
          </div>
        </div>
      </ng-container>
      <ng-template #notfound>
        <div class="notfound">
          <p>404</p> <p>Album Not Found</p>
          <p class="par">voulez vous jouer à un jeu à la place ?</p>
          <a href="https://charcrede.github.io/casse/" class="par a btn btn-outline-primary" target="_blank">cliquez pour jouer 🧩</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>


<!-- 
  *ngFor
  Lorsque nous utilisons la directive *ngFor, Angular cré un ensemble de variables pour chaque itération. Les variables crées sont :
  index: qui stock l'index
  first: boléenne qui indique si l'élément est le premier
  last: contraire de "first"
  even: booléenne qui indique si l'indice de l'élément actuelle est paire
  odd: contraire de "even"
 -->